body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
    background-color: grey;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}
div{
    border-radius: 10%;
}

/* Contenedor principal */
.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
}
/* Rectángulo vertical */
.vertical-rectangle {
    width: 150px;
    height: 250px;
    background-color: lightblue;
}
/* Cuadros */
.square {
    width: 110px;
    height: 110px;
    background-color: lightcoral;
    margin-top: 10px;
    position: relative;
}
.sect4{
    position: relative;

}
.sect7{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
}
.horizontal-down{
    width: 250px;
    height: 50px;
    background-color: blueviolet;
}

.valu-prop{
    width: 60%;
    margin-left: 20%;
    position: absolute;
    top: 30%;
}

.cust-rel{
    width: 50%;
    margin-left: 25%;
    position: absolute;
    top: 53%;
}

.cust-segm{
    margin-left: 15%;
}

area{
    cursor: pointer;
}
